.list-view .content {
    display: flex;
}

.list-view .stok-grid {
    flex: 2;
}

.list-view .satis-form {
    flex: 1;
    padding: var(--lumo-space-m);
}
.ana {
    background-image: url("bb.jpg");
    background-size: cover;

}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .stok-grid {
        display: none;
    }

}